<div id="nodes">
  <% @nodes.each do | each | -%>
    <%= render :partial => 'node', :locals => {:node => each }%>
  <% end -%>
   
  <%= render :partial => 'no_nodes' if @nodes.empty? %>
</div>

<%= periodically_call_remote :url => { :action => 'index', :format => 'js'}, :method => 'get',
                                       :frequency => Configuration.dashboard_refresh_interval %>
