<div class="footer">
  <div class="version">
    <div><a href="http://lucie.is.titech.ac.jp/trac/lucie/">Lucie</a> Version <%= Lucie::VERSION::STRING %></div>
    <div>Powered by <a href="http://rubyonrails.org">Ruby on Rails</a></div>
  </div>
</div>
