<div class="footer">
  <div class="version">
    <div><a href="http://lucie.is.titech.ac.jp/trac/lucie/">Lucie Dashboard</a> Version <%= Lucie::VERSION::STRING %></div>
    <div>Based on <a href="http://cruisecontrolrb.thoughtworks.com/">CruiseControl.rb</a> Version 1.1.0</div>
    <div>Powered by <a href="http://rubyonrails.org">Ruby on Rails</a></div>
  </div>
</div>
