<div class="header">
  <div class="cc_logo">
    <%= link_to image_tag("lucie_logo.png"), '/' %>
  </div>

  <% if flash[ :notice ] and !flash[ :notice ].blank? -%>
    <div class="flash_notice"><%= h flash[ :notice ] %></div>
  <% end -%>
</div>
